NODE-RED-flow/flows.json
[{"id":"812e0eb8.698f1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cd2c1acb.53bae8","type":"ui_form","z":"812e0eb8.698f1","name":"","label":"","group":"51d5e255.c8fb0c","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":240,"wires":[["445ecd84.9677c4"]]},{"id":"445ecd84.9677c4","type":"function","z":"812e0eb8.698f1","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["a0d02045.2c5e5","fc1d7169.f68e5"]]},{"id":"2f20d2f4.8ab29e","type":"function","z":"812e0eb8.698f1","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["94017844.d267a8"]]},{"id":"a0d02045.2c5e5","type":"watson-conversation-v1","z":"812e0eb8.698f1","name":"Customer Care","workspaceid":"2ba02c65-8871-4ecb-8e68-49d2a2d10bd9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/87ed9807-5a46-4935-a89c-92dd44b20a09","timeout":"","optout-learning":false,"x":600,"y":100,"wires":[["d9d06c23.6928b","2f20d2f4.8ab29e"]]},{"id":"fc1d7169.f68e5","type":"ui_text","z":"812e0eb8.698f1","group":"51d5e255.c8fb0c","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":580,"y":280,"wires":[]},{"id":"d9d06c23.6928b","type":"debug","z":"812e0eb8.698f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":60,"wires":[]},{"id":"94017844.d267a8","type":"ui_text","z":"812e0eb8.698f1","group":"51d5e255.c8fb0c","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":940,"y":280,"wires":[]},{"id":"51d5e255.c8fb0c","type":"ui_group","z":"","name":"Chatbot","tab":"62f53d3e.0ed584","order":1,"disp":true,"width":16,"collapse":false},{"id":"62f53d3e.0ed584","type":"ui_tab","z":"","name":"Customer Care Help Desk","icon":"dashboard","disabled":false,"hidden":false}]